//GLOBAL COLORS
$color-1:#ffffff;
$color-2:#000000;
$color-3:#aa8960;
//EHK COLORS
$color-ehk-1: #004534;
$color-ehk-2: #043327;
$color-ehk-3: #003628;
//JBK COLORS
$color-jbk-1: #8c0722;
$color-jbk-2: #590012;
//ECK COLORS
$color-eck-1: #06354D;
$color-eck-2: #042536;
//JBK-LIGHT COLORS
$color-jbklight-1: #343B46;
$color-jbklight-2: #242931;
//FOOTER COLORS
$color-footer-1: #101010;
$color-footer-2: #A0A0A0;
$color-footer-3: #AA885F;
$color-footer-4: #202020;
//DROPDOWN LIST
$color-dropdown-1: #f3f3f3;

//FONT-SIZES
$sm-font-size: 14px;
$md-font-size: 28px;
$lg-font-size: 96px;

$infobox-paragraph-size: 18px;
$infobox-title-size: 24px;

$custom-dropdown-title-size: 30px;
$custom-dropdown-paragraph-size: 20px;

//FONT-FAMILYS
$play-fair: PlayFairDisplay;
$source-sans: SourceSansPro;

//MEDIA QUERYS BREAKPOINTS
$sm-devices: 576px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

